/* #field {
    border-collapse: collapse;
}

#field td {
    border: 1px solid black;
} */

.field {
    
}

#fields {
    margin: 0 auto;
}

#fields .card {
    width: 350px;
}

.field-profit, .field-cost {
    font-size: 20px;
    margin: 0 5px;
}